In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("CSVs/Military Expenditure.csv")

In [6]:
df.head()

,Name,Code,Type,Indicator Name,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,2.518695e+08,2.981469e+08,3.258070e+08,2.385834e+08,2.171941e+08,2.682271e+08,1.995186e+08,1.858783e+08,1.914071e+08,1.980863e+08
2,Angola,AGO,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,3.311193e+09,3.500795e+09,3.639496e+09,4.144635e+09,6.090752e+09,6.841864e+09,3.608299e+09,2.764055e+09,3.062873e+09,1.983614e+09
3,Albania,ALB,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,1.827369e+08,1.858932e+08,1.970068e+08,1.832047e+08,1.800155e+08,1.781204e+08,1.323507e+08,1.308532e+08,1.443827e+08,1.804887e+08
4,Andorra,AND,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
list1 = [1,2,5,6,7,9]
list2 = [3,4,7,8,2,8]

result_list = []
for i in range(0, len(list1)):
  result_list.append(list1[i]*list2[i])

print(result_list)

[3, 8, 35, 48, 14, 72]

In [ ]:
list_new = [1,2,3,4,65,6,7,7, "hello world"]
list_new.remove(3)
print(list_new[1:5]) #slicing

[2, 4, 65, 6]

In [ ]:
# tuples are immutable
tuple_new = (1,2,3,4,5)
# tuple_new.append(3) : error
# tuple_new.remove(3) : error

In [5]:
#list slicing
text = "hello world"
# list_text = [text, 1]
# print(text[1:5])
list4 = [1,2,3,"hello world"]
sli_str = list4[3]
print(sli_str[1:5])

hello world